<%= form_with(model: category) do |form| %>
  <%= render(partial: 'shared/errors', locals: { object: category }) %>

  <div class="form-field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="form-field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="form-field">
    <%= form.label :color %>
    <%= form.text_field :color %>
    <p class="text-xs text-slate-700">Refresh to get a different color or enter your own value</p>
  </div>

  <div id="color-block" class="h-8 w-8 mt-4" style="background-color: <%= category.color %>"></div>

  <div class="mt-4">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
