<%= form_with(model: joke) do |form| %>
  <%= render(partial: 'shared/errors', locals: { object: joke }) %>

  <div class="form-field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: "Joke ##{joke.new_record? ? Joke.next_id : joke.id}" %>
  </div>

  <div class="form-field">
    <%= form.label :joke %>
    <%= form.text_area :joke %>
    <p class="text-xs text-slate-700">The joke must be funny.</p>
  </div>

  <div class="flex flex-wrap gap-4 mt-4">
    <% Category.all.each do |category| %>
      <div>
        <%= form.check_box "category-#{category.id}", { name: "joke[category_ids][]", checked: joke.categories.any? { |c| c.id == category.id } }, category.id, nil %>
        <%= form.label "category-#{category.id}", class: 'inline-block' do %>
          <%= render "categories/category", category: category %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
