<%= render(partial: 'shared/notice', locals: { notice: }) %>

<div class="mt-4 flex gap-8">
  <div>
    <%= link_to new_joke_path do %>
      <button class="btn-primary">New Joke</button>
    <% end %>
  </div>
  <div class="flex flex-wrap gap-4">
    <%= link_to jokes_path(uncategorized: true) do %>
      <%= render "categories/category", category: Category.new(title: "Uncategorized", color: "#777") %>
    <% end %>
    <% Category.all.each do |category| %>
      <div id="<%= dom_id category %>">
        <%= link_to jokes_path("category_ids[]" => category.id) do %>
          <%= render "categories/pill", category: category %>
        <% end %>
        <span><small>(<%= category.jokes.size %>)</small></span>
      </div>
    <% end %>
  </div>
</div>

<div id="jokes" class="mt-4 flex flex-wrap gap-4">
  <% @jokes.each do |joke| %>
    <%= render joke %>
  <% end %>
</div>
