<p style="color: green"><%= notice %></p>

<h3 class="mt-3">
  <%= @joke.title %>
</h3>

<p>
  <%= @joke.joke %>
</p>

<%= render 'categories/preview', categories: @joke.categories %>

<div class="button-bar">
  <%= button_to "Edit this joke", edit_joke_path(@joke), method: :get, class: "btn btn-sm btn-primary" %>
  <%= button_to "Discard this joke", @joke, method: :delete, class: "btn btn-sm btn-danger" %>
</div>
