<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="<%= root_path %>">Joeks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link <%= current_page?(jokes_path) || current_page?(root_path) ? 'active' : nil %>" href="<%= jokes_path %>">Jokes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link <%= current_page?(categories_path) ? 'active' : nil %>" href="<%= categories_path %>">Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>