<nav class="py-2 bg-slate-200">
  <div class="flex gap-2 lg:w-[960px] w-full mx-auto my-0">
    <a href="<%= root_path %>" class="text-xl px-2 pb-2 pt-1">Joeks</a>
    <div id="navbarSupportedContent">
      <ul class="flex gap-2">
        <li>
          <a class="p-2 block hover:text-black <%= current_page?(jokes_path) || current_page?(root_path) ? 'text-black' : 'text-slate-600' %>" href="<%= jokes_path %>">Jokes</a>
        </li>
        <li>
          <a class="p-2 block hover:text-black <%= current_page?(categories_path) ? 'text-black' : 'text-slate-600' %>" href="<%= categories_path %>">Categories</a>
        </li>
      </ul>
    </div>
  </div>
</nav>